div.box-pink.navbar
  div.box-title.pink
    h3 両思い中
      small.white "どんどんメッセージを送って会う約束をしよう！"
  div#each-like.info.box-inner.container
    ul.like-thumbnail
div.box-green.navbar
  div.box-title.green
    h3 お相手が片思い
      small.white "ピピっと来たら、『いいね』をプッシュ！"
  div#your-like.info.box-inner.container
    ul.like-thumbnail
div.box-green.navbar
  div.box-title.green
    h3 自分が片思い
  div#my-like.info.box-inner.container
    ul.like-thumbnail