div.box-pink.navbar
  div.box-title.pink
    h3 マッチング情報
      small.white "ピピっと来たら、『いいね』をプッシュ！"
  div#matching-system.info.box-inner.container.row2
    ul.matching-thumbnail
div.box-pink.navbar
  div.box-title.pink
    h3 応援団おすすめ情報
      small.white "ピピっと来たら、『いいね』をプッシュ！"
  div#matching-supporter.info.box-inner.container.row1
    ul.matching-thumbnail