div.message-page
  div.message-user-list
    ul.user-list.scrollable

  div.message-list
    div.message-header
      h5.user-name
    div.message-body
      ul.messages
    div.message-footer
      div.message-post
        textarea(rows=3)
        button.btn.btn-primary.post 送信する