div#userpage.modal.hide.fade
  div.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true')&times;
    h3 馬場245世
  div.modal-body
    | ほげぇ。。。
  div.modal-footer
    //- ここに、ユーザ一覧を表示させる。
    //- マッチングページから来たなら、そのコレクションを設定してあげる。